.navbar {
  padding: 36px 0px;
  background: var(--White, #fff);
  box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.05);
}

.navWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.menu__item a {
  color: var(--Black, #000);
  font-family: var(--HK-Grotesk);
  font-size: 18px;
  font-weight: 600;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  position: relative;
}

.menu__item a::after {
  width: 100%;
  height: 3px;
  content: "";
  position: absolute;
  bottom: -6%;
  left: 0%;
  background: var(--Purple);
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.menu__item a:hover::after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.menu__item a:hover {
  color: var(--Purple);
}

.blog--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog--icon:hover .down--arrow {
  color: var(--Purple);
}

.down--arrow {
  font-size: 25px;
  padding-left: 3px;
}

.nav__btn {
  color: var(--Purple, #7c14fd);
  background: transparent;
  border: 1px solid var(--Purple, #7c14fd);
  border-radius: 1000px;
  font-family: var(--HK-Grotesk);
  font-size: 16px;
  font-weight: 600;
  padding: 14px 28px;
  cursor: pointer;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.nav__btn:hover {
  color: var(--White);
  background: var(--Purple);
}
