/* =============== Product Sans Font  ================= */

@import url("https://fonts.cdnfonts.com/css/product-sans");

/* =============== HK Grotesk Font  ================= */

@import url("https://fonts.cdnfonts.com/css/hk-groteks");

/* =================================
        Common css Start
====================================*/

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
div {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1300px;
  margin: auto;
}

body {
  font-family: "Product Sans", sans-serif;
}

:root {
  --HK-Grotesk: "HK Grotesk", sans-serif;
  --Purple: #b070ff;
  --Black: #000;
  --White: #fff;
  --bg-color: #faf6ff;
}

/* =================================
        Common css End
====================================*/
